.textsection {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    text-justify: inter-word;
}

h3,
h4:not(.text-center>h4),
h5 {
    color: #8E3200;
    padding-top: 0.2em;
}

h5 {
    font-weight: bold;
    padding-top: 0em;
}

.divider {
    border: 0.1em solid #996515;
    opacity: 100;
    width: 30%;
    margin: auto;
}

/* SEMANTIC DIGITAL EDITION HTML */
.chapindex {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.chapindex td {
    text-align: center;
}

.chapindex td:hover {
    text-align: center;
    font-weight: bold;
}

.list-person,
.list-places {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.list-person th {
    background-color: #F1E5AC;
    padding-left: 0.5em;
    border: 1px solid #AA6B39;
}

.list-places th {
    background-color: #E69E7F;
    padding-left: 0.5em;
    border: 1px solid #7c4e28;
}


.list-person td,
.list-places td {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.chap {
    display: none;
    animation: fadeIn 3s;
}

#cap1 {
    display: block;
}

.progress-bar {
    background-color: #8E3200 !important;
}

#listchars,
#listplaces {
    display: none;
}

a [class^="bi-"]::before,
[class*=" bi-"]::before {
    font-size: 0.8em;
    line-height: 1.6 !important;
}

#myCheckboxPers:checked {
    background-color: #B8860B;
    border-color: #B8860B;
}

#myCheckboxPlace:checked {
    background-color: #ca896d;
    border-color: #ca896d;
}

#chart_div,
#chart_divFE {
    width: 100%;
}

/* GEOLOCALISATION OR SPATIAL ANALYSIS HTML (choose one name and stick to it */ 
#map {
    height: 600px;
    width:100%;
}

.sdeloddownload a [class^="bi-"]::before, [class*=" bi-"]::before {
    font-size: 0.95em;
}

#docuidx a:any-link {
    text-decoration: none;
}

.paridx a:any-link {
    text-decoration: none;
}