.textsection {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    text-justify: inter-word;
}

.chapindex td {
    text-align: center;   
}

.chapindex td:hover {
    text-align: center;  
    font-weight: bold; 
}

h4 {
    color: #8E3200;
}

h5 {
    font-weight: bold;
}

.chapindex {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.list-person {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.list-person th {
    background-color: #F1E5AC;
    padding-left: 0.5em;
    border: 1px solid #AA6B39;
}

.list-person td {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.chap {
    display: none;
    animation: fadeIn 3s;
}

#cap1 {
    display: block;
}

.progress-bar {
    background-color: #8E3200 !important;
}

#listchars, #listplaces {
    display: none;
}

a [class^="bi-"]::before, [class*=" bi-"]::before {
    font-size: 0.8em;
    line-height: 1.6 !important; 
}

#myCheckboxPers:checked {
    background-color: #B8860B;
    border-color: #B8860B;
}